# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/

# Build / distribution
build/
dist/

# Virtual environments
.venv/
venv/
Pipfile.lock

# Tests / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Linters
.ruff_cache/
.mypy_cache/

# Documentation
site/
.cache/

# Editors
*.swo
*.swp
*~
.vscode/
.idea/
.venv/
patches/
*.patch

*.mbox
