[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pylint = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
sphinx = "*"

[requires]
python_version = "3.9"
